.widget-card {
    display: flex;
    flex-direction: row;
    margin-top: 20px;   
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.Application-id {
    width: 30%;
    background-color: red;

}
.Total-earnings {
    width: 30%;
    background-color: blue;

}
.Program {
    width: 30%;
    background-color: yellow;

}