.dashboard-card {
    background-color: rgb(244, 244, 244);
    width: 230px;
    height: 130px;
    border-radius: 10px;
}
.dashboard-card h3 {
    font-size: 40px;
}
.dashboard-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;   
    gap: 20px;
    padding: 10px;


}
.heading {
    display: flex;
}
.recent-activity {
    padding: 20px;
    background-color: rgb(244, 244,244);
}