.dashboard-card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(227, 227, 227);
}
.dashboard-card h3 {
    font-size: 40px;
}
.dashboard-card-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;   
    gap: 20px;
    margin-bottom: 20px;


}
.heading {
    display: flex;
}
.recent-activity {
    padding: 20px;
    background-color: rgb(244, 244,244);
}