
/* Beneficiary heading*/

/* Search bar of beneficiary page*/
.beneficiary-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.beneficiary-title {
    display: flex;
    flex-direction: column;
}
.Search {
    width: 300px;
    height: 30px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    margin-top: 20px;
}   
.add-button {
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;

}
/* Table of beneficiary page*/

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;  
    

}
th, td {
    text-align: left;
    padding: 16px;
}