
.program-card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid;
    border-color: rgb(228, 228, 228);
}
.program-list {
    display: flex;
    flex-direction: row;
}
.search-program {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(228, 228, 228);
}