.login-form {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    height: auto;
}
.title {
    align-items: center;
}