.heading {
  display: flex;
  flex-direction: column;
}
.dashboard-card {
  display: flex;
  flex-direction: column;
}
.recent-activities {
  width: 100%;
  height: 100%;
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
}
.beneficiary-page {
  margin-left: 20%;
}