.dashboard-layout {
  display: flex;
  min-height: 100vh;
}
.heading {
  display: flex;
  flex-direction: column;
}
.dashboard-card {
  display: flex;
  flex-direction: column;
}
.beneficiary-page {
  margin-left: 20%;
}
.payment-page {
  margin-left: 20%;
}
table {
  display: inline-block;
}
li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

/* tabs.tsz css here */
/* Small screen tweaks */
@media (max-width: 480px) {
  .tabs li a {
    font-size: 14px;
    padding: 10px;
  }
}