/* Sidebar.css */
* {
  margin: 0px;
  padding: 0px;
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: fixed;
  overflow: auto;
}

.sidebar-header h1 {
  font-size: 1.5rem;
  margin-left: 15px;
}

.sidebar-header p {
  font-size: 0.8rem;
  color: #777;
  margin:  15px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.nav-item a:hover {
  background-color: #f0f0f0;
}

.nav-item.active a {
  background-color: #1E1E1E; /* Dark background for active state */
  color: white;
}

.sidebar-footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
}
.main {
  margin-left: 20%;
}